@import "./rose-pine-moon.css";

* {
  border: none;
  border-radius: 10px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#mpris {
  background: @base;
  padding: 0 15px;
}

window#waybar.empty #mpris.empty {
  background: none;
}

tooltip {
  background-color: @base;
}

tooltip label {
  color: white;
}

#workspaces {
  background: @base;
}

#workspaces button {
  background: transparent;
  color: white;
}

#workspaces button.active {
  background: @overlay;
}

#keyboard-state label,
#memory,
#pulseaudio,
#network,
#cpu,
#temperature,
#tray,
#clock {
  padding: 0 20px 0 15px;
  background: @base;
}

#tray {
  padding: 0 5px 0 5px;
}

#clock {
  padding: 0 10px;
}

#cpu,
#temperature {
  color: @foam;
}

#memory {
  color: @iris;
}

#network {
  color: @pine;
}

#keyboard-state label.locked {
  background: @rose;
  color: black;
}

#pulseaudio {
  color: @rose;
}

#pulseaudio.muted {
  color: black;
  background: @love;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
